{% extends 'base.html.twig' %}

{% block title %}Angeltypes{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Angeltypes</h1>
        <div class="form-group">
            <div class="btn-group">
                <a href="{{ url('angeltypes_create') }}" class="btn btn-default add">New Angeltype</a>
                <a href="https://engel.ctdo.de/angeltypes?action=about" class="btn btn-default ">Teams/Job
                    description</a>
            </div>
        </div>
        <table class="table table-striped data">
            <thead>
            <tr>
                <th class="column_name">Name</th>
                <th class="column_restricted"><span class="glyphicon glyphicon-lock"></span> Restricted</th>
                <th class="column_no_self_signup"><span class="glyphicon glyphicon-share"></span> Self Sign Up Allowed
                </th>
                <th class="column_membership">Membership</th>
                <th class="column_actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for angelType in angelTypeList %}
                <tr>
                    <td class="column_name">
                        <a href="{{ url('angeltypes_view', {'id': angelType.id}) }}">{{ angelType.name }}</a>
                    </td>
                    <td class="column_restricted">
                        {% if angelType.restricted %}
                            <span class="glyphicon glyphicon-lock"></span>
                        {% endif %}
                    </td>
                    <td class="column_no_self_signup">
                        {% if angelType.noSelfSignup %}
                            <span class="text-danger"><span class="glyphicon glyphicon-remove"></span></span>
                        {% else %}
                            <span class="text-success"><span class="glyphicon glyphicon-ok"></span></span>
                        {% endif %}
                    </td>
                    <td class="column_membership">
                        {% if angelType.member and angelType.memberAwait %}
                            <span class="glyphicon glyphicon-lock"></span>
                        {% elseif angelType.member and not angelType.memberAwait %}
                            <span class="text-success"><span class="glyphicon glyphicon-ok"></span></span>
                        {% else %}
                            <span class="text-danger"><span class="glyphicon glyphicon-remove"></span></span>
                        {% endif %}
                    </td>
                    <td class="column_actions">
                        <div class="btn-group">
                            <a href="{{ url('angeltypes_view', {'id': angelType.id}) }}"
                               class="btn btn-default btn-xs">View</a>

                            {% if (hasPermission('angeltype_edit') and angelType.coordinator) or hasPermission('angeltype_edit_all') %}
                            <a href="{{ url('angeltypes_edit', {'id': angelType.id}) }}"
                               class="btn btn-default btn-xs">Edit</a>
                            {% endif %}

                            {% if hasPermission('angeltype_delete_all') %}
                            <a href="{{ url('angeltypes_delete', {'id': angelType.id}) }}"
                               class="btn btn-default btn-xs">Delete</a>
                            {% endif %}

                            {% if hasPermission('angeltype_join') and not (angelType.member or angelType.memberAwait) %}
                            <a href="{{ url('angeltypes_join', {'id': angelType.id}) }}"
                               class="btn btn-default btn-xs">Join</a>
                            {% endif %}

                            {% if hasPermission('angeltype_leave') and (angelType.member or angelType.memberAwait) %}
                                <a href="{{ url('angeltypes_leave', {'id': angelType.id}) }}"
                                   class="btn btn-default btn-xs">Leave</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
