{% extends 'base.html.twig' %}

{% block title %}
    Room {{ room.name }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-map-marker"></span> {{ room.name }}</h1>
        <div class="form-group">
            <div class="btn-group">
                <a href="{{ url('room') }}" class="btn btn-default back">Rooms</a>

                {% if hasPermission('room_edit') %}
                    <a href="{{ url('room_edit', {'id': room.id}) }}"
                       class="btn btn-default edit">Edit</a>
                {% endif %}

                {% if hasPermission('room_delete') %}
                    <a href="{{ url('room_delete', {'id': room.id}) }}" class="btn btn-default delete">Delete</a>
                {% endif %}
            </div>
        </div>
        <div class="">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">Info</a>
                </li>
                <li role="presentation">
                    <a href="#Shifts" aria-controls="Shifts" role="tab" data-toggle="tab">Shifts</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Info">
                    <div class="first">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Needed angels:</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        {% for neededAngelType in room.neededAngelTypes %}
                                            <li class="list-group-item">{{ neededAngelType.angelType.name }}
                                                <span class="badge">{{ neededAngelType.count }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Description:</h3>
                                </div>
                                <div class="panel-body">
                                    {{ room.description }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Map URL:</h3>
                                </div>
                                <div class="panel-body">
                                    {{ room.mapUrl }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Shifts">
                    <div class="first">

                         {% include 'includes/multiDayLaneView.html.twig' with {'multiDayLaneView': multiDayLaneView} only %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

