{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>News</h1>
            {% for news in newsList %}
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">
                            {% if news.meeting == true %}
                                {% trans %}[Meeting]{% endtrans %}
                            {% endif %}
                            {{ news.subject }}
                        </h3></div>
                    <div class="panel-body">{{ news.message }}</div>
                    <div class="panel-footer text-muted">
                        <div class="pull-right">
                            <a href="{{ url('news_edit', {id: news.id}) }}" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </div>
                        <span class="glyphicon glyphicon-time"></span>
                        2018-03-23 17:04&emsp;
                        <a class="text-muted" href="https://engel.ctdo.de/users?action=view&amp;user_id=2">
                            <span class="icon-icon_angel"></span> {{ news.author }}</a>&emsp;<a href="{{ url('news_comments', {id: news.id}) }}">
                            <span class="glyphicon glyphicon-comment"></span> {% trans %}Comments »{% endtrans %}</a> <span class="badge">{{ news.comments|length }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="text-center">
                <ul class="pagination">
                    <li class="active"><a href="https://engel.ctdo.de/news?page=0">1</a></li>
                </ul>
            </div>
            <hr>
            <h2>Create news:</h2>
            <form action="" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="form_betreff">Subject</label>
                    <input class="form-control" id="form_betreff" type="text" name="betreff" value="">
                </div>
                <div class="form-group">
                    <label for="form_text">Message</label>
                    <textarea rows="5" class="form-control" id="form_text" name="text"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="treffen" name="treffen" value="1">
                        Meeting</label>
                </div>
                <div class="form-group"><label for="">
                        <button class="btn btn-primary" type="submit" name="submit">Save</button>
                    </label></div>
            </form>
        </div>
    </div>
{% endblock %}
