<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Engelsystem</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/' ~ theme ~ '.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/icomoon/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('vendor/bootstrap-datepicker-1.7.1/css/bootstrap-datepicker3.min.css') }}"/>
        <script type="text/javascript" src="{{ asset('vendor/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery-ui.min.js') }}"></script>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('index') }}">
                    <span class="icon-icon_angel"></span> <strong class="visible-lg-inline">ENGELSYSTEM</strong>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if hasPermission('news_view') %}
                        <li class=""><a href="{{ url('news') }}">News</a>
                        </li>
                    {% endif %}

                    {% if hasPermission('meeting_view') %}
                        <li class=""><a href="{{ url('meeting') }}">Meeting</a>
                        </li>
                    {% endif %}

                    {% if hasPermission('shifts_view') %}
                        <li class=""><a href="{{ url('shift') }}">Shifts</a>
                        </li>
                    {% endif %}

                    {% if hasPermission('angeltypes_view') %}
                        <li class=""><a href="{{ url('angeltypes') }}">Angeltypes</a>
                        </li>
                    {% endif %}

                    {% if hasPermission('ask_view') %}
                        <li class=""><a href="{{ url('ask') }}">Ask the Heaven</a>
                        </li>
                    {% endif %}

                    {% if hasPermission('room_view') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-map-marker"></span> Rooms <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" style="max-height: 871px; overflow-y: scroll;">
                                <li class=""><a href="{{ url('room') }}"><span
                                                class="glyphicon glyphicon-list"></span> Room Overview</a></li>
                                <li class="divider"></li>
                                {% for room in rooms %}
                                    <li class="">
                                        <a href="{{ url('room_view', {'id': room.id}) }}"><span
                                                    class="glyphicon glyphicon-map-marker"></span> {{ room.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="">
                            <a href="{{ url('user_view', {'id': loggedInUser.id}) }}">
                                <span class="glyphicon glyphicon- icon-icon_angel"></span> {{ loggedInUser.username }}
                            </a>
                        </li>
                    {% else %}
                        <li class="">
                            <a href="{{ url('register') }}"><span class="glyphicon glyphicon-plus"></span>
                                Register</a></li>
                        <li class="active"><a href="{{ url('login') }}"><span class="glyphicon glyphicon-log-in"></span>
                                Login</a>
                        </li>
                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="max-height: 871px; overflow-y: scroll;">
                            {% for locale in locales %}
                                <li class="">
                                    <a href="{{ path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">{{ locale|trans }}</a>
                                </li>
                            {% endfor %}
                            <li class="divider"></li>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="">
                                    <a href="#"><span class="glyphicon glyphicon-list-alt"></span> Settings</a>
                                </li>
                                <li class="">
                                    <a href="{{ url('logout') }}"><span class="glyphicon glyphicon-log-out"></span>
                                        Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for label, flashes in app.flashes %}
                {% for flash in flashes %}
                    <div class="col-md-12">
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block content %}
        {% endblock %}
        <div class="row" id="footer">
            <div class="col-md-12">
                <hr/>
                <div class="text-center footer" style="margin-bottom: 10px;">
                    {% if eventConfig is defined %}
                        {% if eventConfig.name is defined and eventConfig.startDate is defined and eventConfig.endDate is defined %}
                            {% trans with {'%name%': eventConfig.name, '%startDate%': eventConfig.startDate, '%endDate%': eventConfig.endDate} %}
                                %name%, starting %startDate% to %endDate%
                            {% endtrans %}
                        {% elseif eventConfig.name is defined and eventConfig.startDate is defined %}
                            {% trans with {'%name%': eventConfig.name, '%startDate%': eventConfig.startDate} %}
                                %name%, starting %startDate%
                            {% endtrans %}
                        {% elseif eventConfig.startDate is defined and eventConfig.endDate is defined %}
                            {% trans with {'%startDate%': eventConfig.startDate, '%endDate%': eventConfig.endDate} %}
                                Event from %startDate% to %endDate%
                            {% endtrans %}
                        {% elseif eventConfig.name is defined %}
                            {{ eventConfig.name }}
                        {% endif %}
                    {% endif %}
                    <a href="{{ url('faq') }}">FAQ</a>
                    路 <a href="%contact_email%"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                    路 <a href="https://github.com/engelsystem/engelsystem/issues">Bugs / Features</a>
                    路 <a href="https://github.com/engelsystem/engelsystem/">Development Platform</a>
                    路 <a href="{{ url('credits') }}">Credits</a>
                </div>
            </div>
        </div>
    </div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendor/bootstrap-datepicker-1.7.1/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendor/bootstrap-datepicker-1.7.1/locales/bootstrap-datepicker.de.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            moment.locale("%locale%");
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/moment-countdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sticky-headers.js') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>
